body {
  background: var(--dark);
  color: var(--light);
}
nav a {
  color: #555;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}
nav a i {
  vertical-align: middle;
  margin-right: 10px;
}

nav {
  margin-bottom: 20px;
  border-bottom: 1px solid var(--white);
}

img {
  height: 48px;
}
.navbar-brand {
  margin-left: -40px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
.form-control {
  transition: all 200ms;
  background: rgba(255, 255, 255, 0.1);
  /*background: transparent;*/
  border: 1px solid var(--teal);
  color: var(--white);
}
option {
  color: #000;
}
.form-control:focus,
.form-control:hover {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid var(--teal);
  color: var(--white);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance:textfield;
}

.btn-primary {
  background: var(--teal);
  border-color: var(--teal);
  position: relative;
  transition: all 200ms;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active{
  background: var(--teal) !important;
  border-color: var(--teal) !important;
  filter: contrast(130%) !important;
}

.btn-outline-primary {
  color: var(--white);
  border-color: var(--teal);
  background: rgba(255, 255, 255, 0.1);
}
.btn-outline-primary:hover,
.btn-outline-primary:focus {
  color: var(--white);
  border-color: var(--teal);
  background: rgba(255, 255, 255, 0.2);
}

h2, h3, h4, h5, h6 {
  display: inline-block;
  /*border-left: 2px solid var(--teal);*/
  margin-bottom: 20px;
  position: relative;
}

h2:before, h3:before, h4:before, h5:before, h6:before {
  background: var(--teal);
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  width: 20px;
  left: 0;
  bottom: -3px;
}

.form-check {
  display: flex;
  align-items: center;
  margin: 15px 0;
  padding-left: 0;
}

.col-sm > .form-check {
  margin: 0;
  height: 100%;
  padding-left: 0;
}

input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

input[type="checkbox"]:focus + label:before {
  background-color: rgba(255, 255, 255, 0.2);
}

input[type="checkbox"] + label {
  position: relative;
}
input[type="checkbox"] + label:hover:before,
input[type="checkbox"] + label:focus:before {
  background-color: rgba(255, 255, 255, 0.2);
}

input[type="checkbox"] + label:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--teal);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: .25rem;
  vertical-align: middle;
  margin-right: 5px;
  transition: background-color 200ms;
}
input[type="checkbox"]:checked + label:before {
  content: '';
  background-color: var(--teal);
}

input[type="checkbox"] + label:after {
  content: '';
  opacity: 0;
  transition: opacity 200ms;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  display: block;
  height: 12px;
  width: 7px;
  transform: rotate(33deg);
  position: absolute;
  top: 6px;
  left: 7px;
  right: 0;
  bottom: 0;
}

input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
