:root {
  --color-mario: #ff4026;
  --color-donkeykong: #f9da4a;
  --color-link: #1c94c3;
  --color-samus: #353f56;
  --color-darksamus: #3d395e;
  --color-yoshi: #83cd65;
  --color-kirby: #fed6e3;
  --color-fox: #307cdf;
  --color-pikachu: #ffb912;
  --color-luigi: #5ea444;
  --color-ness: #de413d;
  --color-captainfalcon: #8e8adc;
  --color-jigglypuff: #f29bf6;
  --color-peach: #f5c9f0;
  --color-daisy: #f0bb2c;
  --color-bowser: #44745e;
  --color-iceclimbers: #a0cafe;
  --color-sheik: #756fd0;
  --color-zelda: #fdeaa4;
  --color-drmario: #e86c6d;
  --color-pichu: #dedc1f;
  --color-falco: #69b0de;
  --color-marth: #5da8c8;
  --color-lucina: #7ea6c7;
  --color-younglink: #a5d160;
  --color-ganondorf: #7974a4;
  --color-mewtwo: #927bc5;
  --color-roy: #74b65d;
  --color-chrom: #b4b4cf;
  --color-mrgame\&watch: #a4a190;
  --color-metaknight: #5367b0;
  --color-pit: #acdafa;
  --color-darkpit: #875cbe;
  --color-zerosuitsamus: #205ba4;
  --color-wario: #fee71f;
  --color-snake: #658198;
  --color-ike: #b64f3e;
  --color-pokémontrainer: #ffc004;
  --color-diddykong: #e05a52;
  --color-lucas: #e06833;
  --color-sonicthehedgehog: #659deb;
  --color-kingdedede: #fce87b;
  --color-olimar: #ccefb0;
  --color-lucario: #b8e3fc;
  --color-rob: #b2b8bd;
  --color-toonlink: #8ce689;
  --color-wolf: #cccccc;
  --color-villager: #83a88e;
  --color-megaman: #86c1e0;
  --color-wiifittrainer: #99d481;
  --color-rosalina\&luma: #98d5cd;
  --color-littlemac: #5d8f72;
  --color-greninja: #5673a5;
  --color-miifighter: #5dc1e6;
  --color-palutena: #91e5c1;
  --color-pac-man: #fcb541;
  --color-robin: #c387d9;
  --color-shulk: #d5647a;
  --color-bowserjr: #59bf38;
  --color-duckhunt: #8c5d3a;
  --color-ryu: #d0504d;
  --color-ken: #cdd7dc;
  --color-cloud: #419384;
  --color-corrin: #63a7c0;
  --color-bayonetta: #a5a1e0;
  --color-inkling: #f02d7d;
  --color-ridley: #71456f;
  --color-simon: #76150e;
  --color-richter: #2a6db0;
  --color-kingkrool: #65873b;
  --color-isabelle: #c4d37e;
  --color-incineroar: #ffd902;
  --color-piranhaplant: #00aa82;
}
