
body.dark {
  background-color: var(--gray-900);
  .main,
  .theme-switcher,
  .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: var(--text-color-light);
  }
  .main {
    background-color: var(--gray-900);
  }
  .card, .card-body {
    background: var(--dark);
    color: var(--text-color-light);
  }

  .card-header {
    background: $gray-700;
    color: var(--white);
  }

  .form-control,
  .select2-selection.select2-selection--multiple,
  .select2-selection.select2-selection--single,
  .select2-container--default .select2-results__option[aria-selected=true],
  .select2-search__field {
    background: lighten($dark, 10%);
    color: var(--text-color-light);
    &::placeholder
    {
      color: var(--text-color-light);
    }
    &:hover,
    &:focus {
      background: lighten($dark, 20%);
      color: var(--text-color-light);

    }
  }

  .select2-dropdown {
    background: lighten($dark, 10%);
    color: var(--text-color-light);
  }

  .select2-results__option,
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: var(--text-color-light);
  }
}
