nav {
  margin-bottom: 20px;
  border-bottom: 1px solid var(--white);
  a {
    color: #555;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    i {
      vertical-align: middle;
      margin-right: 10px;
    }
  }
}

.navbar-nav .nav-link {
  color: var(--text-color-light);
  &:hover,
  &:focus {
    color: var(--text-color);
  }
}

.smacker-brand {
  margin-bottom: 0;
  position: relative;
  z-index: 1;
}

.brand-title {
  text-indent: -41px;
  color: #FFF;
  text-shadow: 1px 1px 0 #969696;
}

.app-header {
  background: var(--dark);
}

.header-logo {
  position: absolute;
  display: inline-block;
  text-align: center;
  left: 0;
  right: 0;
}
.smash-header-logo {
  filter: invert(1);
}
