<h2>Create Board</h2>
<form id="add_board_form" method="post" action="#">
    <div class="card">
        <div class="card-header">
            Board
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm">
                    <fieldset>
                        <legend class="sr-only">Board data</legend>
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="board_name">Name*</label>
                                    <input class="form-control" type="text" required id="board_name" name="board[name]" value="">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-header player-row-title">Players</div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="board_users" class="sr-only">Users*</label>
                        <select class="form-control js-select2" multiple required id="board_users" name="board[users]" data-router="users" data-route="select" data-placeholder="Select authorized players" >
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-header player-row-title">Stages</div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="board_stages" class="sr-only">Stages*</label>
                        <select class="form-control js-select2" multiple required id="board_stages" name="board[stages]" data-router="stages" data-route="select" data-placeholder="Select valid stages">
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit"><span class="btn-text">Submit</span></button>
    </div>
</form>
<script type="text/javascript" src="/fragments/boards/add.js"></script>
