<h2>Matches</h2>
<template id="list-entry">
	<li>
		<div class="col-sm id"></div>
		<div class="col-sm p1"></div>
		<div class="col-sm p2"></div>
		<div class="col-sm p3"></div>
		<div class="col-sm p4"></div>
		<div class="col-sm stage"></div>
		<div class="col-sm teams"></div>
		<div class="col-sm date"></div>
	</li>
</template>
<div class="row">
	<ul class="match-list">
		<li>
			<div class="col-sm">ID</div>
			<div class="col-sm">P1</div>
			<div class="col-sm">P2</div>
			<div class="col-sm">P3</div>
			<div class="col-sm">P4</div>
			<div class="col-sm">Stage</div>
			<div class="col-sm">Teams</div>
			<div class="col-sm">Date</div>
		</li>
	</ul>
</div>
<script type="text/javascript" src="/fragments/matches/list.js"></script>
